html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: "helvetica", sans-serif;
	font-size: 16px;
	line-height: 24px;
  color: grey;
}

img {
 	width: 50%;
 	height: auto;
}

@media (min-width: 900px) {
	.container {
		margiin-top: 100px;
	}
	#name {
		float:left;
		width:30%;
		padding-left:30px;
	}
	#photography {
		float: left;
		width:66%;
	}
}
