/*img {
  width: 100%;
  height: auto;
} */


body {
	/* font: 18px/25px "comic sans ms", sans-serif; */
	font-family: "comic sans ms", sans-serif;
	font-size: 18px;
	line-height: 25px;
font: color grey}
 img {
 	width: 100%;
 	height: auto;
